<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Title</title>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>

<body>
    <div class="container">

        <div class="jumbotron" style="text-align: center">
            <h1>Page Heading</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- The div that holds our map -->
                <div id="map"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <!-- The div that holds our bar chart -->
                <div id="bar"></div>
            </div>
        </div>

    </div>

    <!-- Our JavaScript file -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
